<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <title>{{title}}</title>
    <style>
      table {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h2>TRADES</h2>
    <div id="chart"></div>
    <div id="trades"></div>

    <div
      style="
        border: solid gray 1px;
        padding: 20px;
        width: 600px;
        margin-top: 20px;
      "
    >
      <h3>Buy Crypto</h3>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div
        style="
          padding: 10px;
          margin-bottom: 10px;
          background: pink;
          border: solid red 1px;
          color: red;
        "
      >
        {% for message in messages %} {{ message }} {% endfor %}
      </div>

      {% endif %} {% endwith %}

      <form action="/buy" method="post">
        <input
          type="text"
          id="quantity"
          name="quantity"
          placeholder="eg. 0.001"
        />
        <select id="symbol" name="symbol">
          {% for symbol in symbols %}
          <option>{{ symbol['symbol'] }}</option>
          {% endfor %}
        </select>
        <input type="submit" name="buy" value="buy" />
      </form>
    </div>

    <!-- User placeholder section for configurable RSI Component-->
    <h3>Settings</h3>
    <div id="settings">
      RSI <input type="checkbox" />
      <input type="text" name="rsi_length" id="rsi_length" placeholder="14" />
      <!-- RSI to tell you when a coin is oversold or overbought, default being 30 and 70 -->
      Overbought
      <input
        type="text"
        id="rsi_overbought"
        name="rsi_overbought"
        placeholder="70"
      />

      Oversold
      <input
        type="text"
        id="rsi_oversold"
        name="rsi_oversold"
        placeholder="30"
      />
    </div>

    <!-- Line 40 typecast balance['free'] into int and compare-->
    <div id="my_balances">
      <!-- <ul>
      {# {% for balance in my_balances %} {% if (balance['free'] | int > 0) %}
      <li>{{balance['asset']}} {{balance['free']}}</li>
      {% endif %} {% endfor %} #}
      </ul> -->
      <h3>Balances</h3>
      <table>
        <th>Token</th>
        <th>Tokens Held</th>
        {% for balance in my_balances %} {% if (balance['free'] | int > 0) %}
        <tr>
          <td>{{balance['asset']}}</td>

          <td>{{balance['free']}}</td>
          {% endif %} {% endfor %}
        </tr>
      </table>
    </div>
    <!-- Script for displaying websocket stream on the page -->
    <script>
      /*   
      var binanceSocket = new WebSocket(
        "wss://stream.binance.com:9443/ws/btcusdt@trade"
      );
      console.log(binanceSocket);
      var tradeDiv = document.getElementById("trades"); // Getting reference to trades section created using div

         
      binanceSocket.onmessage = (event) => {
        console.log(event.data);
        // Inside onmessage event we process the event.data, this is a JSON string, we want to access it as an object, so that we can get individual attribute

        var messageObject = JSON.parse(event.data);
        // Append to tradeDiv whatever we want from messageObject
         tradeDiv.append(
          "Price of " + messageObject.s + " is: 💲" + messageObject.p + "\n"
        );
        tradeDiv.append(messageObject.p);
      };
    */
    </script>

    <!-- Script for chart to be displayed -->
    <script src="{{url_for('static',filename='chart.js')}}"></script>
  </body>
</html>
